/* General Accordion Styles */
.accordion {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Accordion Item Styles */
.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

/* Accordion Title Button */
.accordion-title {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: #e0e0e0;
}

.accordion-title[aria-expanded="true"] {
    background-color: #d0d0d0;
}

.accordion-content {
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.accordion p {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.right{

  float: right;
}