h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 600px;
    gap: 10px;
}

input{
    width: 40%;
    padding: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid white;
}

button{
    padding: 15px;
    width: 10%;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
}